@media (min-width: 780px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 2rem;
        justify-content: center;
    }

    section {
        border: 1px solid black;
        padding: 1rem;
    }
}


/* -------menu webpage------- */
@media (min-width: 780px) {

    .menu-container {

        margin: 1fr auto;
    }

}


@media (min-width: 780px) {

    .location-sect {
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid black;
        border-radius: 5px;
    }
}