@media (min-width: 780px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    section {
        border: 1px solid black;
        padding: 1rem;
    }
}