@media (min-width: 780px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 2rem;
        justify-content: center;
    }

    section {
        padding: 1rem;
    }
}


/* -------menu webpage------- */
@media (min-width: 780px) {

    .menu-container {
        margin: 1rem auto;
    }

    .menu-container .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        max-width: 1000px;
        margin: 0 auto;
    }

}


@media (min-width: 780px) {

    .location-sect {
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid black;
        border-radius: 5px;
    }
}