body {
    max-width: 840px;
    margin: 0 auto;
}

header,
footer {
    background-color: purple;
    color: white;
    padding: 0.5rem;
}

main {
    margin: 1rem 0;
}

h1 {
    text-align: center;
}

.pdform {
    padding: 1rem;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.pdform input[type="text"],
input[type="email"],
select,
input[type="date"],
textarea {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0.9rem;
    border-radius: 5px;
}

.pdform label {
    margin-top: 20px;
    padding-bottom: 5px;
    display: block;
}

.pdform input[type="radio"] {
    display: inline;
    margin-right: 5px;
}

.pdform input[type="radio"]+label {
    display: inline;
    margin-top: 0;
    margin-right: 15px;
}

input[type="submit"] {
    width: 100%;
    max-width: 400px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.9rem;
    margin: 1rem 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}