:root {
    --primary-color: #0077b6;
    --secondary-color: #caf0f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 840px;
    width: 100;
    margin: 0 auto;
}

img {
    width: 100%;
    padding: 1rem;
}

header,
footer {
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 1rem 0;
}

header {
    text-align: center;
}

h1 {
    font-weight: bold;
}

main {
    background-color: var(--secondary-color);
}

.container {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    margin: 1rem;
    padding: 1rem;

}

td {
    border: 1px solid var(--primary-color);
    padding: 1rem;
}